{{ define "main" }}
<main>
    {{ .Content }}
    {{ $posts := where site.RegularPages "Section" "posts" }}
    {{ range first 10 $posts }}
    <article>
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <p>
            <time>{{ .Date.Format (default "2006-01-02" $.Site.Params.dateFmt) }}</time>
            {{ with .Params.tags }}
            &middot;
            {{ range . }}
            <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
            {{ end }}
        </p>
        <p>{{ .Summary }}</p>
    </article>
    {{ end }}
    {{ if gt (len $posts) 10 }}
    <p><a href="/posts/">See all posts</a></p>
    {{ end }}
</main>
{{ end }}
